<div class="show-container">
  <div class="show-question-header">
    <h3>Questions:</h3>
  </div>
  <div class="question-cards-container">
    <% @questions.each do |question| %>
      <div class="question-card">
        <div class="show-questions">
          <h2><%= question.content %></h2>
          <p>by: <%= question.user.username %></p>
        </div>
        <div class="answer-btn">
          <button class="submit-btn">Answer?</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
