body{
  background-color: #EEF0E5;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// main-container
.container{
  display: flex;
 background-color: white;
  padding: 60px;
  border-radius: 50px;
  align-items: center;
  margin-top: 30px;
  border: 3px solid #304D30;
  .home-pic{
    height: 300px;
  }

  .description{
    margin-left: 100px;
    text-align: center;
    p{
      text-align: justify;
      font-size: 22px;
      line-height: 40px;
      color:#304D30;
    }
    h3{
      text-align: center;
      font-size: 35px;
      color: #AAD9BB;
    }
  }
}

// button for sign in css
#signin-button {
  background-color: #B6C4B6;
  padding: 15px 50px;
  border: none;
  border-radius: 34px;
  cursor: pointer;
  a{
    text-decoration: none;
    color: #EEF0E5;
  }
}

#signin-button:hover {
  background-color: #304D30;
}

// card div
.card-container{
    display: grid;
    background-color: #304d30;
    margin: 20px;
    padding: 30px;
    border-radius: 20px;
    border: 3px solid white;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    grid-gap: 80px;
    justify-items: center;
    align-items: center;
}
// individual card for home
.card {
  text-align: center;
  margin: 0;
  margin: 5px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #EDF0E5;
  width: auto;
  color: #304d30;
}

// design for the p-text inside a container
.card-text{
  text-align: justify;
}
// responsiveness
@media screen and (max-width: 576px) {
  .container{
    margin-right: auto;
    margin-left: auto;
    .home-pic{
      height: 240px;
    }
    .description{
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 850px) {
  .card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 15px;
    grid-template-columns: 1fr
  }
}
@media screen and (max-width: 1500px) {
  .container{
    display: flex;
    background-color: white;
    padding: 45px;
    border-radius: 50px;
    flex-direction: column;
    .description{
      margin-left: 0;
    }
  }
  .card-container{
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
