// main-container for the follow-details
.follow-details {
  display: flex;
  justify-content: space-around;
}

.answered-section{
  border-right: 0.5px solid black;
  text-align: center;
  margin: 12px 9px;
  padding-right: 12px;
  h4{
    margin-top: 8px;
    margin-bottom: 13px;

  }
}
.following-section{
  border-right: 0.5px solid black;
  text-align: center;
  margin: 11px 10px;
  padding-right: 15px;

}
.followers-section {
  text-align: center;
  margin: 11px 10px;
}


// container for the button
.follow-links{
  display: flex;
}

// button for follow
.follow-button{
  display: inline-block;
  border: none;
  cursor: pointer;
  height: 35px;
  padding: 0px 28px;
  border-radius: 50px;
  background-color: #4CAF50;
  color: white;
  font-size: 13px;
  font-weight: 500;
}

.follow-button:hover {
  background-color: green;
}

// modal scss
.follow-modal-content{
  background-color: white;
  margin-top: 30%;
  h5{
    text-align: center;
  }
}
