<div class="main-index-container">
  <% @users.each do |user|%>
    <div class="question-container">
      <div class="index-pic">
        <% if user.photo.attached? %>
          <%= cl_image_tag user.photo.key, height: 100, width: 100, crop: :fill %>
        <% else %>
          <%= image_tag image_path("user.png"), height: 100, width: 100, crop: :fill %>
        <% end %>
        <p>@<%= user.username %></p>
      </div>
      <div class="index-text">
        <h2>Hello????</h2>
        <p>hi</p>
        <p>less than one day ago</p>
      </div>
    </div>
  <% end %>
</div>
