<div class="main-index-container">
  <div class="question-container">
    <div class="index-pic">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcYPk0H72SY2vRrxtG8yeOkfdguAnc9uOduuMto-1E0g&s" alt="" style="height: 100px; width: 100px;">
      <p>@username</p>
    </div>
    <div class="index-text">
      <h2>Hello????</h2>
      <p>hi</p>
      <p>less than one day ago</p>
    </div>
  </div>
  <div class="question-container">
    <div class="index-pic">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcYPk0H72SY2vRrxtG8yeOkfdguAnc9uOduuMto-1E0g&s" alt="" style="height: 100px; width: 100px;">
      <p>@username</p>
    </div>
    <div class="index-text">
      <h2>Hello????</h2>
      <p>hi</p>
      <p>less than one day ago</p>
    </div>
  </div>
  <div class="question-container">
    <div class="index-pic">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcYPk0H72SY2vRrxtG8yeOkfdguAnc9uOduuMto-1E0g&s" alt="" style="height: 100px; width: 100px;">
      <p>@username</p>
    </div>
    <div class="index-text">
      <h2>Hello????</h2>
      <p>hi</p>
      <p>less than one day ago</p>
    </div>
  </div>
  <div class="question-container">
    <div class="index-pic">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcYPk0H72SY2vRrxtG8yeOkfdguAnc9uOduuMto-1E0g&s" alt="" style="height: 100px; width: 100px;">
      <p>@username</p>
    </div>
    <div class="index-text">
      <h2>Hello????</h2>
      <p>hi</p>
      <p>less than one day ago</p>
    </div>
  </div>
  <div class="question-container">
    <div class="index-pic">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcYPk0H72SY2vRrxtG8yeOkfdguAnc9uOduuMto-1E0g&s" alt="" style="height: 100px; width: 100px;">
      <p>@username</p>
    </div>
    <div class="index-text">
      <h2>Hello????</h2>
      <p>hi</p>
      <p>less than one day ago</p>
    </div>
  </div>
  <div class="question-container">
    <div class="index-pic">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcYPk0H72SY2vRrxtG8yeOkfdguAnc9uOduuMto-1E0g&s" alt="" style="height: 100px; width: 100px;">
      <p>@username</p>
    </div>
    <div class="index-text">
      <h2>Hello????</h2>
      <p>hi</p>
      <p>less than one day ago</p>
    </div>
  </div>
</div>
