<div class="show-container">
  <div class="profile">
    <div class="index-pic">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcYPk0H72SY2vRrxtG8yeOkfdguAnc9uOduuMto-1E0g&s" alt="" style="height: 100px; width: 100px;">
    </div>
  </div>
  <div class="question-box">
    <h3>Ask Me a Question</h3>
    <form action="#" method="post">
      <label for="question"></label>
      <textarea id="question" name="question" required></textarea>
      <div class="submit-question">
        <label class="anonymous-checkbox">
          <input type="checkbox" id="anonymous" name="anonymous"> Ask anonymously
        </label>
        <button type="submit" class="submit-btn">Ask</button>
      </form>
    </div>
  </div>
  <%#  %>
  <div class="answer-box">
    <div class="answer-title">
      <h3>Answers</h3>
    </div>
    <div class="answer-card">
      <h5>Whats your favorite color?</h5>
      <p>Orange!!</p>
    </div>
    <div class="answer-card">
      <h5>Whats your favorite color?</h5>
      <p>Orange!!</p>
    </div>
    <div class="answer-card">
      <h5>Whats your favorite color?</h5>
      <p>Orange!!</p>
    </div>
    <div class="answer-card">
      <h5>Whats your favorite color?</h5>
      <p>Orange!!</p>
    </div>
  </div>
