.answer-container{
  text-align: center;
  margin: 50px;
  background-color: #c3e2c3;
  padding: 30px;
  border-radius: 18px;
  border: 2px solid #163020;
  color: #163020;
}
.submit-question{
  display: contents;
}
