.nav-logo{
  height: 60px;
}
#signin-button {
  background-color: #304D30;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

#signin-button:hover {
  background-color: #EEF0E5;
}
