// main index-container
.main-index-container {
  background: mintcream;
  padding: 20px;
  margin: 4em auto;
  border-radius: 10px;
  border: 0.5px solid lightblue;
  max-width: 1200px;
}

// container to ask a question for the user-home-page
.question-container {
  display: flex;
  align-items: center;
  border: 1px solid white;
  background-color: #EDF0E5;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}

// profile picture
.index-pic{
  padding: 15px;
  display: flex;
  flex-direction: column;
  img{
    border-radius: 60px
  }
  p{
    font-weight: bold;
    margin: 0;
    margin-top: 5px;
    text-align: center;
  }
  a{
    text-decoration: none;
    color: #4CAF50;
  }
}

// text for the home
.index-text {
  flex-grow: 1;
  background-color: #d3d3d399;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.index-text {
  h2{
    margin: 0;
    color: black;
    // border-bottom: 1px solid white;
    // margin-bottom: 20px;
  }
  p{
    margin: 0;
    color: black;
  }

  .time{
    color: #304d308f;
    margin-left: 10px;
    margin-bottom: 4px;
  }
}

// header-text scss
.header-index-text{
  border-bottom: 1px solid white;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end;
}

.index-picture{
  border: 1px solid gray;
  border-radius: 60px;
}
// Responsiveness
@media (max-width: 768px) {
  .main-index-container {
    margin: 2em auto;
  }
  .card-user{
    padding: 30px;
  }
  .question-container{
    display: flex;
    flex-direction: column;
      .header-index-text{
      display: flex;
      flex-direction: column;
      align-items: center;
      }
      .index-text{
        width: 30rem;
      }
    }
    .card-user-container{
      .card-user{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 5px;
        padding: 20px;
        border: 2px dotted green;
        border-radius: 30px;
        background-color: #EDF0E5;
        width: auto;
        color: #304d30;
      }
    }
  }

@media (max-width: 555px) {
  .question-container{
    .index-text{
      width: 20rem;
    }
  }
}


// each users
.container-user{
  display: flex;
  gap: 10px;
  background-color: mintcream;
  padding: 40px;
  border-radius: 15px;
  align-items: center;
  margin: 3em 1em 3em 1em;
  border: 3px solid #304D30;
  flex-direction: row;
  overflow: scroll;
}

.card-user-container{
  display: flex;
  flex-direction: row;
  overflow: scroll;
}
  .card-user{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px;
    padding: 45px;
    border: 2px dotted green;
    border-radius: 30px;
    background-color: #EDF0E5;
    width: auto;
    color: #304d30;
    p{
      margin: 10px;
    }
    a{
      text-decoration: none;
      color: #304D30;
      margin-top: 10px;
    }
  }
