// main index-container
.main-index-container {
  background: white;
  padding: 20px;
  margin: 4em auto;
  border-radius: 10px;
  border: 0.5px solid lightblue;
  max-width: 1200px;
}

// container to ask a question for the user-home-page
.question-container {
  display: flex;
  align-items: center;
  border: 1px solid white;
  background-color: whitesmoke;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}

// profile picture
.index-pic{
  padding: 15px;
  display: flex;
  flex-direction: column;
  p{
    font-weight: bold;
    margin: 0;
    margin-top: 5px;
  }
  a{
    text-decoration: none;
    color: #4CAF50;
  }
}

// text for the home
.index-text {
  flex-grow: 1;
  background-color: lightgray;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.index-text {
  h2{
    margin: 0;
    color: black;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
  }
  p{
    margin: 0;
    color: black;
  }
}

// Responsiveness
@media (max-width: 768px) {
  .main-index-container {
    margin: 2em auto;
  }
  .container-user{
    grid-template-columns: repeat(6, 1fr);
  }
}


@media screen and (max-width: 480px) {
  .container-user {
    grid-template-columns: repeat(2, 1fr);
  }
}

// each users
.container-user{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  background-color: white;
  padding: 60px;
  border-radius: 50px;
  align-items: center;
  margin: 50px;
  border: 3px solid #304D30;
}
  .card-user{
    text-align: center;
    margin: 0;
    margin: 5px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #EDF0E5;
    width: auto;
    color: #304d30;
    p{
      margin: 10px;
    }
    a{
      text-decoration: none;
      color: #304D30;
      margin-top: 10px;
    }
  }
